
.Navbar{
	height: 140px;
	margin: 0px;
}


.Navbar .menu{
   width: 100% !important;
   height: 140px !important;
   margin-left: -2px !important;
   margin-top: -55px !important;

}

.Navbar a {
		line-height: 140px !important;
		text-decoration: none !important;
		color: inherit !important;
	    font-size: 48px !important; 
	}

.Navbar svg{
	width: 80px !important;
	height: 80px !important;
	margin-bottom: -50px !important;
	}

.Navbar h1{
	line-height: 140px !important;
	text-align: center;
	height: 140px !important; 
	font-size: 48px !important; 
}

.Navbar div{
	font-size: 50px;
	margin-top: 0px;
	margin-top: 0px;
	height: 100% !important;
	text-align: center !important;
}



@media screen and (min-device-width: 750px) {

	.Navbar div{
	font-size: 20px;
	margin: 0;
	padding-top: 0px;
	text-align: center !important;
}

	.Navbar a {
		text-decoration: none !important;
		color: inherit !important;
		line-height: 50px !important;
		font-size: 24px !important;
		margin-top: -5px !important;
	}

    .Navbar {
       	height: 55px !important;
       	margin: auto;
    }

	.Navbar .menu{
   width: 100% !important;
   height: 55px !important;
   margin-top: -9px !important;
   margin-left: -5px !important;
	}

	.Navbar svg{
	width: 35px !important;
	height: 35px !important;
	margin-bottom: -8px !important;
	}

	.Navbar h1{
	line-height: 60px !important;
	text-align: center;
	height: 48px !important; 
	font-size: 24px !important; 
		}
	}

