
body{
	margin: 0px;

	background: #f2f2f2;
}

body::-webkit-scrollbar {
    width: 9px;
	background-color: #ffffff;
}

body::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #ffffff;
}
 
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color: #555;
}

main{
	margin-top: 80px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: black;
}

#app {
	font-family: 'Roboto', sans-serif;
	
}

.creatingButton{
	margin-bottom: 50px;
	margin-top: 100px;	
}

.article_image{
	height: 330px;
	width: 100%;
	overflow: hidden;
}

.article {
	max-height: 100%;
	max-width: 100%;
	background-color: #ffffff;
}

.article img{
	max-width: 100%;
	height: auto;
	overflow: hidden;
} 

.innerArticle_image img{
	max-height: 30%;
	max-width: 30%;
	overflow: hidden;
}

.article_settings{
	float: right;
}

.content_wrapper{
	overflow: hidden;
}

#mceu_21{
	z-index: 1;
	position: relative;

}

.footer{
	margin-top: 16%;
}

#mceu_21-body{
	margin:50px;
}






